.header {
    justify-content: space-between;
    background-image: linear-gradient(180deg,#171a23,#171a23);
    color: white;
    display: flex;
    text-align:center; 
    height: 55px;
    padding-left: 5%;
    padding-right: 8%;
  }

.header h3 {
  padding-top: 12px;
}

.header ul {
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.header li {
  padding-top: 12px;
  text-decoration: none;
  list-style: none;
}

